
@import "variable";
@import "mixing";

.photograph__footer {
  background-color: $white;
  padding-block-start: $padding-block-start;
  padding-block-end: calc(#{$padding-block-end} * 2);
}

.photograph__footer__informations {
  margin-inline-start: $margine-inline-start;
}

.photograph__footer__title {
  @include fontquitbig;
  font-family: dmserifdisplay-regular;
  font-weight: normal;
  color: $black-color;
  text-transform: uppercase;

}

.photograph__footer__informations--paragraph {
  @include midiumfont;
  color: $gray;

}


// Home

.photograph__footer__navigation__home--heading {
  @include midiumfont;
  color: $black-color;
  font-weight: 700;
  
}

.photograph__footer__lists {
  list-style: $list-style;
  padding-inline-start: 0;
  margin-block-start: $margine-block-start;
}

.photograph__footer__lists__of__link {
  @include midiumfont;
  text-decoration: $text-decoration;
  color: $gray;
  
}

// Person information

.photograph__footer__informations__lists--person {
  list-style: $list-style;
  padding-inline-start: 0;
}

.photograph__footer__informations--paragraph {
  @include midiumfont;
  font-weight: normal;

}

.photograph__footer__informations--date {
  @include fontbold;
  color: $black-color;

}

.photograph__footer__informations__container--person {
  margin-inline-start: 0;
}

.photograph__footer__informations__list--person {
  margin-block-start: calc(#{$margine-block-start} * 2);
}

.photograph__footer__informations__list--person {
  display: flex;

}

.photograph__footer__informations--womimage, 
.photograph__footer__informations--passimage {
  border-radius: $border-radius;
  max-width: 30%;
  max-height: 30%;
  margin-inline-end: calc(#{$margine-inline-end} * 2);

}

// Note part of the footer 

.photograph__footer__informations__container {
  border-top : 1px solid rgb(175, 174, 174);

}

.photograph__footer__informations__container--note {
  @include midiumfont;
  margin-inline-start: $margine-inline-start;
  color: $gray;
  margin-block-start: $margine-block-start;

}


@media (min-width: 1200px) {

  .photograph__footer__informations {
    @include margine;
    display: flex;
    justify-content: space-between;
    margin-block-start: calc(#{$margine-block-start} * 5);
    margin-block-end: calc(#{$margine-block-end} * 6);
  }

  .photograph__footer__informations__container--note {
    @include margine;
    display: flex;
    justify-content: space-between;
    margin-block-end: calc(#{$margine-block-end} * 5);
  }

  .photograph__footer__informations__container--comminucation {
    width: 17rem
  }

  .photograph__footer__informations__container--home {
    width: 4rem;
  }

  .photograph__footer__informations__container--person {
    width: 23.12rem;
  }


}
 

