@import "variable";

.photograph {
  background-color: #434CCC;
  padding-top: $padding-top;
  padding-bottom: $padding-bottom;
  display: flex;
  justify-content: space-between;
  
}

.photograph__title {
  margin-inline-start: $margine-inline-start;
}

.photograph__title {
  font-family: dmserifdisplay-regular;
  text-transform: $text-transformation;
  font-weight: normal;
  font-style: normal;
  line-height: 24px;
  font-size: 32px;
  color:  $white;
}

.photograph__scroll__bar {
  float: right;
  margin-inline-end: $margine-inline-end;
  margin-block-start: calc( #{$margine-block-start} + 0.5rem);
 
}

.photograph__navigation {
  display: none;
}