@import "variable";

.photograph {
  background-color: #434CCC;
  padding-top: $padding-top;
  padding-bottom: $padding-bottom;
  display: flex;
  justify-content: space-between;

  
}

.photograph__title {
  margin-inline-start: $margine-inline-start;
}

.photograph__title {
  font-family: dmserifdisplay-regular;
  text-transform: $text-transformation;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5rem;
  font-size: 2rem;
  color:  $white;
}

.photograph__bar {
  float: right;
  margin-inline-end: $margine-inline-end;
  margin-block-start: calc( #{$margine-block-start} + 0.5rem);
 
}



// links

.photograph__lists {
  @include midiumfont;
  list-style: $list-style;
  
}

.photograph__list__of__link {
  text-decoration: $text-decoration;
  color: $white;
}

// Hiding the checkbox

.photograph-checkbox {
  position: absolute;
  top: 2.5rem;
  opacity: 0;
}

// Style of the navigation list and hiding by default

.photograph__navigation {
  left: -200px;
  position: fixed;
  background-color: rgb(4, 62, 70);
  padding: $padding;
  max-width: 8rem;
  border: yellow 3px solid;
  margin-block-start: calc(#{$margine-block-start} * 3);

 
}

.photograph__lists {
  padding-inline-start: $padding-inline-start;
}

.photograph__list {
  margin: $margine;
}

// Showing the navigation when the checkbox is checked

input[type=checkbox]:checked + .photograph__navigation {
  transform: translateX(100%);
  transition: all 0.5s ease;
  left: -100px;
}

// Hiding the navigation when the checkbox is unchecked. 

input[type=checkbox]:not(:checked) + .photograph__navigation {
  transform: translateX(-100%);
  transition: all 0.5s ease-out;
  left: -100px;
}




// Mediaquerry for the desktop

@media (min-width : 1200px) {

  .photograph__title {
    margin-inline-start: 8.43rem;
  }

  .photograph__list {
    margin: 0;
  }

  #bar {
    display: none;
  }

  .photograph__navigation {
    margin-inline-end: 8.43rem;
    transition: none;
    right: 0;
  }

  .photograph__list {
    margin-inline-start: calc(#{$margine-inline-start} + 0.5rem);
  }

  .photograph__navigation {
    right: 0;
    background-color: transparent;
    border: transparent;
    top: 0;
    padding: 0;
    max-width: 100%;
    margin-block-start: $margine-block-start;
    position: relative;

  }

  .photograph__lists {
    display: flex;

  }

  .photograph__bar {
    display: none;
  }




}