@import "variable";

.photograph {
  background-color: #434CCC;
  padding-top: $padding-top;
  padding-bottom: $padding-bottom;
  display: flex;
  justify-content: space-between;
  
  
}

.photograph__title {
  margin-inline-start: $margine-inline-start;
}

.photograph__title {
  font-family: dmserifdisplay-regular;
  text-transform: $text-transformation;
  font-weight: normal;
  font-style: normal;
  line-height: 24px;
  font-size: 32px;
  color:  $white;
}

.photograph__scroll__bar {
  float: right;
  margin-inline-end: $margine-inline-end;
  margin-block-start: calc( #{$margine-block-start} + 0.5rem);
 
}

.photograph__navigation {
  // display: none;
}

// links

.photograph__lists {
  list-style: $list-style;
  @include midiumfont;
  // display: none
}

.photograph__list__of__link {
  text-decoration: $text-decoration;
  color: $white;
}
.photograph-checkbox {
  position: absolute;
  top: 2.5rem;
  opacity: 0;
}

.photograph__navigation {
  right: -9999px;
  position: fixed;
  background-color: rgb(4, 62, 70);
  padding: $padding;
  max-width: 8rem;
  border: yellow 1px solid;
  margin-block-start: calc(#{$margine-block-start} * 3);
}

#bar:checked + .photograph__navigation{
  left: 0;
  
}




// Mediaquerry for the desktop

@media (min-width : 1200px) {

  .photograph__title {
    margin-inline-start: 135px;
  }

  .photograph__navigation {
    margin-inline-end: 135px;
  }

  .photograph__list {
    margin-inline-start: calc(#{$margine-inline-start} + 0.5rem);
  }

  .photograph__lists {
    display: block;
    display: flex;

  }

  .photograph__scroll__bar {
    display: none;
  }




}