@import "variable";

.photograph__main__seenlens__images--big {
  max-width: 100%;
  border-radius: 0.31rem;
  

}

.photograph__main__seenlens--images_container {
  margin-inline-start: $margine-inline-start;
  margin-inline-end: $margine-inline-end;
}

.photograph__main__images--small {
  max-width: 100%;
  border-radius: 0.31rem;
  

}


.ripple {
  margin-inline-end: calc(137px / -2);
}



.dune,
.arches,
.car,
.sunset,
.canyon {
  display: none;
  opacity: 0.5;
}

 .stairs,
 .ripple {
   opacity: 0.5;
 }


@media (min-width : 1200px) {
    .dune,
    .arches,
    .car,
    .sunset,
    .canyon {
    display: block;
  }
    .stairs,
    .ripple,
    .dune,
    .arches,
    .car,
    .sunset,
    .canyon {
      opacity: 0.5 ;
    }

    .ripple {
    margin-inline-end: calc(#{$margine-inline-end} / 3);
  }

}