@import "variable";

.photograph__main__seenlens__images--big {
  max-width: 100%;
  border-radius: $border-radius;

}

.photograph__main__seenlens--images {
  overflow: hidden;

}

.photograph__main__seenlens--bigimage_container {
  margin-inline-start: $margine-inline-start;
  margin-inline-end: $margine-inline-end;

}

.photograph__main__images--small {
  max-width: 400%;
  border-radius: $border-radius;
  margin-inline-end: calc(#{$margine-inline-end} * 2);

}

.photograph__main__seenlens--smalimages_container {
  margin-block-start: 0;

}

.stairs,
.ripple,
.dune,
.arches,
.car,
.sunset,
.canyon {
  margin-inline-start: calc(#{$margine-inline-start} * 6);

}

.stairs,
.ripple,
.dune,
.arches,
.car,
.sunset,
.canyon {
  opacity: 0.5;

}


@media (min-width : 1200px) {
  .dune,
  .arches,
  .car,
  .sunset,
  .canyon {
    display: block;
  
  }

  .stairs,
  .ripple,
  .dune,
  .arches,
  .car,
  .sunset,
  .canyon {
    opacity: 0.5 ;
  
  }

  .ripple {
    margin-inline-end: calc(#{$margine-inline-end} / 3);
  
  }

  .photograph__main__seenlens--images_container {
    margin-inline-start: $margine-inline-start;
    margin-inline-end: 0;
  
  }

  .photograph__main__seenlens--bigimage_container {
    margin-inline-start: $margine-inline-start;
    margin-inline-end: 0;
  
  }

  .photograph__main__images--small {
    max-width: 98%;
    max-height: 100%;
  
  }

  .photograph__main__seenlens__images--navigation {
    margin-block-start: 0;
  
  }

  .photograph__main__seenlens__images--list {
    margin-inline-start: 0;
  
  }

  .photograph__main__seenlens__images--lists {
    width: 100%;
  
  }

}