@import "variable";

@mixin list {
  list-style: none;
  display: flex;
  
}


@mixin link {
  
  margin: 1rem;

}

@mixin font {
  font-weight: 35px;
  font-size: 43px;
  color: $black-color;
  font-weight: normal;
  font-family: dmserifdisplay-regular;
}

@mixin midiumfont {
  font-size: 16px;
  line-height: 24px;
  font-family: sans-Regular;
  
}

@mixin smalfont {
  font-weight: 11px;
  font-size: 19px;
  font-family: sans-Regular;
  font-weight: normal;
  border-radius: 5px;
}