@import "variable";

@mixin list {
  list-style: none;
  display: flex;
  
}


@mixin link {
  
  margin: 1rem;

}

@mixin font {
  font-weight: 2.2rem;
  font-size: 2.68rem;
  color: $black-color;
  font-weight: normal;
  font-family: dmserifdisplay-regular;
}

@mixin midiumfont {
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: sans-Regular;
  
}

@mixin fontquitbig {
  font-size: 1.5rem;
  line-height: 2rem;
}

@mixin smalfont {
  font-weight: 0.68rem;
  font-size: 1.18rem;
  font-family: sans-Regular;
  font-weight: normal;
  border-radius: 0.31rem;
}

@mixin margine {
  margin-inline-start: calc((100% * 135px) / 1440px);
  margin-inline-end: calc((100% * 135px) / 1440px);
  
}