
@import "variable";

.photograph__main__seenlens {
  padding-block-end: calc(#{$padding-block-end} * 3);
}


.photograph__main__link {
  text-decoration: $text-decoration;
  color: $gray;
   @include midiumfont;
  font-weight: normal;
 
 
}

.photograph__main__seenlens--images {
  overflow: hidden;
}

.photograph__main__back {
    margin-block-start: calc(#{$margine-block-start} * 2 );
    margin-inline-start: $margine-inline-start ;
}

.photograph__main__seenlens--title {
  color: $black-color;
  font-family: dmserifdisplay-regular;
  font-size: 3rem;
  line-height: 4rem;
  font-weight: normal;
  margin-inline-start: $margine-inline-start;
  
}


.photograph__main__seenlens--paragraph {
  font-family:sans-Regular ;
  margin-inline-start: $margine-inline-start;
}

.photograph__main__seenlens__images--lists {
  @include list;
  padding-inline-start: $padding;
  
}

.photograph__main__seenlens__images--list {
  margin-inline-end: 0.25rem;
}

.photograph__main__seenlens__wordsdetails--lists {
  list-style-type: none;
  columns: 2;
}


span {
  color: $gray;
   @include midiumfont
}

.photograph__main__seenlens__wordsdetails {
  // font-family: ;
}

.photograph__main__seenlens__wordsdetails--paragraph {
  color: $black-color;
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: dmsans-bold;
}

.photograph__main__mineral--header {
  @include font;
}

.photograph__main__mineral--placeinformation {
   color: $black-color;
   font-size: 18px;
   line-height: 2rem;
   font-family: sans-Regular;
}

.photograph__main__mineral--beautyinformation {
  @include midiumfont;
  color: $gray;
}

.photograph__main__mineral {
  margin-inline-start: $margine-inline-start;
}


// Mediaquerry for the desktop

@media (min-width : 1200px) {

  .photograph__main {
    margin-inline-start: 135px;
    margin-inline-end: 135px;
  }


  .photograph__main__seenlens--container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
  }

  .photograph__main__mineral--navigation {
    grid-column: 2;
  }

  .photograph__main__seenlens__wordsdetails {
    margin-block-start: 3rem;
  }

}