@import "variable";
@import "mixing";


.photograph__main__updating {
  background-color: $yelow;
  padding-block-end: calc(#{$padding-block-end} * 2);
  padding-block-start: calc(#{$padding-block-start} * 2);
}

.photograph__main__updating--subheader {
  font-family: sans-Regular;
  text-transform: uppercase;
  color: $black-color;
  letter-spacing: 0.3em;
  font-size: 1rem;
  line-height: 24px;

}

.photograph__main__updating--header {
  @include font;
  
}

.email-adress {
  text-transform: uppercase;
  font-family: dmsans-bold;
  font-size: 12px;
  line-height: 1rem;
}

input {
  padding-top: 13px;
  padding-bottom: 11px;
  padding-left: 16px;
  padding-right: 90px;
}

input[value*="e.g.jesse@gmail.com"] {
  color: $gray;
  @include smalfont;
  margin-top: $margine;
}

.photograph__main__updating--latest {
  margin-inline-start: $margine-inline-start;
}

.photograph__main__updating--button_form {
  background-color: $blue;
  padding-top: 13px;
  padding-bottom: 11px;
  padding-inline-start: 45.5px;
  padding-inline-end: 45.5px;
  color: $white;
  @include smalfont;
  margin-block-start: $margine-block-start;
  

}


@media (min-width: 1200px) {

  .photograph__main__updating {
    columns: 2;
    column-width: auto;
  
  }

  .photograph__main__updating--header {
    width: 382px;
  }

  .photograph__main__updating--form {
    margin-inline-start: -280px;
    width: 805px;
    padding-block-start: 160px;
    padding-block-end: 144px;
  }

  
  input[value*="e.g.jesse@gmail.com"] {
    margin-top: $margine;
  }

  .photograph__main__updating--button_form {
    margin-inline-start: calc(#{$margine-inline-start} * 2);
  }

  .photograph__main__updating--container {
    margin-inline-start: 135px;
    

  }

  .photograph__main__updating--form {
    display: flex;
   
  }

  .photograph__main__updating--button_form {
    margin-block-start: calc(#{$margine-block-start} * 2);
  }
}