// About text transformation

$text-transformation: uppercase;

// color

$white: #FFFFFF;
$gray: rgba(0, 0, 0, 0.5);
$black-color: #000000;
$yelow: #FFDD78;
$blue: #434CCC;

// padding

$padding-top: 1rem;
$padding-bottom: 1rem;
$padding-left: 1rem;
$padding-right: 1rem;
$padding: 1rem;
$padding-inline-start: 1rem;
$padding-inline-end: 1rem;
$padding-inline-bottom: 1rem;
$padding-inline-top: 1rem;
$padding-block-start: 1rem;
$padding-block-end: 1rem;
$padding-block-bottom: 1rem;
$padding-block-top: 1rem;

// Margine

$margine-top: 1rem;
$margine-bottom: 1rem;
$margine-left: 1rem;
$margine-right: 1rem;
$margine: 1rem;
$margine-inline-start: 1rem;
$margine-inline-end: 1rem;
$margine-inline-bottom: 1rem;
$margine-inline-top: 1rem;
$margine-block-start: 1rem;
$margine-block-end: 1rem;
$margine-block-bottom: 1rem;
$margine-block-top: 1rem;

// Link 

$text-decoration: none;

// list style

$list-style: none;


