@font-face {
  font-family: sans-Regular;
  font-weight: 400;
  src: url(../fonts/sans-regular.woff2) format("woff2"), url(../fonts/sans-Regular.woff) format("woff"); }

@font-face {
  font-family: dmsans-bold;
  font-weight: 700;
  src: url(../fonts/dmsans-bold.woff2) format("woff2"), url(../fonts/dmsans-bold.woff) format("woff"); }

@font-face {
  font-family: dmserifdisplay-regular;
  font-weight: 400;
  src: url(../fonts/dmserifdisplay-Regular.woff2) format("woff2"), url(../fonts/dmserifdisplay-regular.woff) format("woff"); }

.photograph {
  background-color: #434CCC;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between; }

.photograph__title {
  margin-inline-start: 1rem; }

.photograph__title {
  font-family: dmserifdisplay-regular;
  text-transform: uppercase;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5rem;
  font-size: 2rem;
  color: #FFFFFF; }

.photograph__bar {
  float: right;
  margin-inline-end: 1rem;
  margin-block-start: calc( 1rem + 0.5rem); }

.photograph__lists {
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: sans-Regular;
  list-style: none; }

.photograph__list__of__link {
  text-decoration: none;
  color: #FFFFFF; }

.photograph-checkbox {
  position: absolute;
  top: 2.5rem;
  opacity: 0; }

.photograph__navigation {
  left: -200px;
  position: fixed;
  background-color: #043e46;
  padding: 1rem;
  max-width: 8rem;
  border: yellow 3px solid;
  margin-block-start: calc(1rem * 3); }

.photograph__lists {
  padding-inline-start: 1rem; }

.photograph__list {
  margin: 1rem; }

input[type=checkbox]:checked + .photograph__navigation {
  transform: translateX(100%);
  transition: all 0.5s ease;
  left: -100px; }

input[type=checkbox]:not(:checked) + .photograph__navigation {
  transform: translateX(-100%);
  transition: all 0.5s ease-out;
  left: -100px; }

@media (min-width: 1200px) {
  .photograph__title {
    margin-inline-start: calc(1rem + 8.43rem); }
  .photograph__list {
    margin: 0; }
  input[type=checkbox]:checked + .photograph__navigation,
  input[type=checkbox]:not(:checked) + .photograph__navigation {
    transition: none;
    transform: none; }
  #check {
    display: none; }
  .photograph__navigation {
    margin-inline-end: calc(1rem * 2); }
  .photograph__navigation {
    right: 0;
    background-color: transparent;
    border: transparent;
    top: 0;
    padding: 0;
    max-width: 100%;
    margin-block-start: 1rem;
    position: relative; }
  .photograph__list {
    margin-inline-start: calc(1rem + 0.5rem); }
  .photograph__lists {
    display: flex; }
  .photograph__bar {
    display: none; } }

html {
  background-color: #F2F2F2;
  max-width: 1440px;
  max-height: 2724px;
  margin-inline-start: auto;
  margin-inline-end: auto; }

body {
  padding: 0;
  margin: 0; }

.photograph__main__updating {
  background-color: #FFDD78;
  padding-block-end: calc(1rem * 2);
  padding-block-start: calc(1rem * 2); }

.photograph__main__updating--subheader {
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: sans-Regular;
  text-transform: uppercase;
  color: #000000;
  letter-spacing: 0.3em; }

.photograph__main__updating--header {
  font-weight: 2.2rem;
  font-size: 2.68rem;
  color: #000000;
  font-weight: normal;
  font-family: dmserifdisplay-regular; }

.email-adress {
  font-family: dmsans-bold;
  font-size: 0.75rem;
  line-height: 1rem;
  text-transform: uppercase; }

input {
  padding-top: calc(1rem * 0.81);
  padding-bottom: calc(1rem * 0.61);
  padding-left: 1rem;
  padding-right: calc(1rem * 7); }

input[value*="e.g.jesse@gmail.com"] {
  font-weight: 0.68rem;
  font-size: 1.18rem;
  font-family: sans-Regular;
  font-weight: normal;
  border-radius: 0.31rem;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 1rem; }

.photograph__main__updating--latest {
  margin-inline-start: 1rem; }

.photograph__main__updating--button_form {
  font-weight: 0.68rem;
  font-size: 1.18rem;
  font-family: sans-Regular;
  font-weight: normal;
  border-radius: 0.31rem;
  background-color: #434CCC;
  padding-top: calc(1rem * 0.81);
  padding-bottom: calc(1rem * 0.68);
  padding-inline-start: calc(1rem * 2.84);
  padding-inline-end: calc(1rem * 2.84);
  color: #FFFFFF;
  margin-block-start: 1rem; }

@media (min-width: 1200px) {
  .photograph__main__updating {
    columns: 2;
    column-width: auto; }
  .photograph__main__updating--header {
    width: 24rem; }
  .photograph__main__updating--form {
    margin-inline-start: calc(1rem * -17.5);
    width: 50.31rem;
    padding-block-start: calc(1rem * 10);
    padding-block-end: calc(1rem * 9); }
  input[value*="e.g.jesse@gmail.com"] {
    margin-top: 1rem; }
  .photograph__main__updating--button_form {
    margin-inline-start: calc(1rem * 2); }
  .photograph__main__updating--container {
    margin-inline-start: calc(1rem * 8.43); }
  .photograph__main__updating--form {
    display: flex; }
  .photograph__main__updating--button_form {
    margin-block-start: calc(1rem * 2); } }

.photograph__main__container {
  background: rgba(67, 76, 204, 0.05);
  padding-block-start: 1rem; }

.photograph__main__seenlens {
  padding-block-end: calc(1rem * 3); }

.photograph__main__link {
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: sans-Regular;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
  font-weight: normal; }

.photograph__main__seenlens__images--navigation {
  overflow: hidden; }

.photograph__main__back {
  margin-block-start: calc(1rem * 2);
  margin-inline-start: 1rem; }

.photograph__main__seenlens--title {
  color: #000000;
  font-family: dmserifdisplay-regular;
  font-size: 3rem;
  line-height: 4rem;
  font-weight: normal;
  margin-inline-start: 1rem; }

.photograph__main__seenlens--paragraph {
  font-family: sans-Regular;
  margin-inline-start: 1rem; }

.photograph__main__seenlens__images--lists {
  list-style: none;
  display: flex;
  padding-inline-start: 1rem; }

.photograph__main__mineral--header {
  margin-block-end: 0; }

.photograph__main__seenlens__images--list {
  margin-inline-end: 0.25rem; }

.photograph__main__seenlens__wordsdetails--lists {
  list-style-type: none;
  columns: 2; }

.camera {
  margin-inline-end: calc(1rem * 4.5); }

.photograph__main__seenlens__wordsdetails--lists {
  padding-inline-start: 0;
  margin-inline-start: 1rem; }

span {
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: sans-Regular;
  color: rgba(0, 0, 0, 0.5); }

.photograph__main__seenlens__wordsdetails--paragraph {
  color: #000000;
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: dmsans-bold;
  margin-block-start: 0;
  margin-block-end: calc(1rem * 2); }

.photograph__main__mineral--header {
  font-weight: 2.2rem;
  font-size: 2.68rem;
  color: #000000;
  font-weight: normal;
  font-family: dmserifdisplay-regular; }

.photograph__main__mineral--placeinformation {
  color: #000000;
  font-size: 1.125rem;
  line-height: 2rem;
  font-family: sans-Regular; }

.photograph__main__mineral--beautyinformation {
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: sans-Regular;
  color: rgba(0, 0, 0, 0.5); }

.photograph__main__mineral {
  margin-inline-start: 1rem; }

@media (min-width: 1200px) {
  .photograph__main__seenlens {
    margin-inline-start: 8.43rem;
    margin-inline-end: 8.43rem; }
  .photograph__main__seenlens--container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
  .photograph__main__mineral--navigation {
    grid-column: 2; }
  .photograph__main__seenlens__wordsdetails {
    margin-block-start: calc(1rem * 3); } }

.photograph__main__seenlens__images--big {
  max-width: 100%;
  border-radius: 0.5rem; }

.photograph__main__seenlens--images {
  overflow: hidden; }

.photograph__main__seenlens--bigimage_container {
  margin-inline-start: 1rem;
  margin-inline-end: 1rem; }

.photograph__main__images--small {
  max-width: 400%;
  border-radius: 0.5rem;
  margin-inline-end: calc(1rem * 2); }

.photograph__main__seenlens--smalimages_container {
  margin-block-start: 0; }

.stairs,
.ripple,
.dune,
.arches,
.car,
.sunset,
.canyon {
  margin-inline-start: calc(1rem * 6); }

.stairs,
.ripple,
.dune,
.arches,
.car,
.sunset,
.canyon {
  opacity: 0.5; }

@media (min-width: 1200px) {
  .dune,
  .arches,
  .car,
  .sunset,
  .canyon {
    display: block; }
  .stairs,
  .ripple,
  .dune,
  .arches,
  .car,
  .sunset,
  .canyon {
    opacity: 0.5; }
  .ripple {
    margin-inline-end: calc(1rem / 3); }
  .photograph__main__seenlens--images_container {
    margin-inline-start: 1rem;
    margin-inline-end: 0; }
  .photograph__main__seenlens--bigimage_container {
    margin-inline-start: 1rem;
    margin-inline-end: 0; }
  .photograph__main__images--small {
    max-width: 98%;
    max-height: 100%; }
  .photograph__main__seenlens__images--navigation {
    margin-block-start: 0; }
  .photograph__main__seenlens__images--list {
    margin-inline-start: 0; }
  .photograph__main__seenlens__images--lists {
    width: 100%; } }

.photograph__main__mineral--lists {
  padding-inline-start: 1rem; }

.photograph__main__mineral--lists {
  list-style: none;
  display: flex; }

.photograph__main__mineral--list {
  text-indent: -9999px;
  width: 2rem; }

.facebook, .facebook__footer {
  background-image: url(../images/icone_facebook.svg);
  background-repeat: no-repeat; }

.twitter, .twitter__footer {
  background-image: url(../images/icone_twitter.svg);
  background-repeat: no-repeat; }

.histogram, .histogram__footer {
  background-image: url(../images/icone_histogram.svg);
  background-repeat: no-repeat; }

.histogram__footer,
.twitter__footer,
.facebook__footer {
  width: 2rem; }

.photograph__footer--link {
  text-decoration: none;
  color: transparent; }

.photograph__footer__lists--relation {
  list-style: none;
  display: flex; }

.photograph__footer__lists--relation {
  padding-inline-start: 0; }

.photograph__footer {
  background-color: #FFFFFF;
  padding-block-start: 1rem;
  padding-block-end: calc(1rem * 2); }

.photograph__footer__informations {
  margin-inline-start: 1rem; }

.photograph__footer__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: dmserifdisplay-regular;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase; }

.photograph__footer__informations--paragraph {
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: sans-Regular;
  color: rgba(0, 0, 0, 0.5); }

.photograph__footer__navigation__home--heading {
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: sans-Regular;
  color: #000000;
  font-weight: 700; }

.photograph__footer__lists {
  list-style: none;
  padding-inline-start: 0;
  margin-block-start: 1rem; }

.photograph__footer__lists__of__link {
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: sans-Regular;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5); }

.photograph__footer__informations__lists--person {
  list-style: none;
  padding-inline-start: 0; }

.photograph__footer__informations--paragraph {
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: sans-Regular;
  font-weight: normal; }

.photograph__footer__informations--date {
  font-family: dmsans-bold;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #000000; }

.photograph__footer__informations__container--person {
  margin-inline-start: 0; }

.photograph__footer__informations__list--person {
  margin-block-start: calc(1rem * 2); }

.photograph__footer__informations__list--person {
  display: flex; }

.photograph__footer__informations--womimage,
.photograph__footer__informations--passimage {
  border-radius: 0.5rem;
  max-width: 30%;
  max-height: 30%;
  margin-inline-end: calc(1rem * 2); }

.photograph__footer__informations__container {
  border-top: 1px solid #afaeae; }

.photograph__footer__informations__container--note {
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: sans-Regular;
  margin-inline-start: 1rem;
  color: rgba(0, 0, 0, 0.5);
  margin-block-start: 1rem; }

@media (min-width: 1200px) {
  .photograph__footer__informations {
    margin-inline-start: 8.43rem;
    margin-inline-end: 8.43rem;
    display: flex;
    justify-content: space-between;
    margin-block-start: calc(1rem * 5);
    margin-block-end: calc(1rem * 6); }
  .photograph__footer__informations__container--note {
    margin-inline-start: 8.43rem;
    margin-inline-end: 8.43rem;
    display: flex;
    justify-content: space-between; }
  .photograph__footer__informations__container--comminucation {
    width: 17rem; }
  .photograph__footer__informations__container--home {
    width: 4rem; }
  .photograph__footer__informations__container--person {
    width: 23.12rem; } }
