@font-face {
  font-family: sans-Regular;
  font-weight: 400;
  src: url(../fonts/sans-regular.woff2) format("woff2"), url(../fonts/sans-Regular.woff) format("woff"); }

@font-face {
  font-family: dmsans-bold;
  font-weight: 700;
  src: url(../fonts/dmsans-bold.woff2) format("woff2"), url(../fonts/dmsans-bold.woff) format("woff"); }

@font-face {
  font-family: dmserifdisplay-regular;
  font-weight: 400;
  src: url(../dmserifdisplay-Regular.woff2) format("woff2"), url(../fonts/dmserifdisplay-regular.woff) format("woff"); }

.photograph {
  background-color: #434CCC;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between; }

.photograph__title {
  margin-inline-start: 1rem; }

.photograph__title {
  font-family: dmserifdisplay-regular;
  text-transform: uppercase;
  font-weight: normal;
  font-style: normal;
  line-height: 24px;
  font-size: 32px;
  color: #FFFFFF; }

.photograph__scroll__bar {
  float: right;
  margin-inline-end: 1rem;
  margin-block-start: calc( 1rem + 0.5rem); }

.photograph__navigation {
  display: none; }

html {
  background-color: #F2F2F2; }

body {
  padding: 0;
  margin: 0; }

.photograph__main__updating {
  background-color: #FFDD78;
  padding-block-end: calc(1rem * 2);
  padding-block-start: calc(1rem * 2); }

.photograph__main__updating--subheader {
  font-family: sans-Regular;
  text-transform: uppercase;
  color: #000000;
  letter-spacing: 0.3em;
  font-size: 1rem;
  line-height: 24px; }

.photograph__main__updating--header {
  font-weight: 35px;
  font-size: 43px;
  color: #000000;
  font-weight: normal;
  font-family: dmserifdisplay-regular; }

.email-adress {
  text-transform: uppercase;
  font-family: sans-Regular;
  font-size: 12px;
  line-height: 1rem; }

input {
  padding-top: 13px;
  padding-bottom: 11px;
  padding-left: 16px;
  padding-right: 120px; }

input[value*="e.g.jesse@gmail.com"] {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 11px;
  font-size: 19px;
  font-family: sans-Regular;
  font-weight: normal;
  border-radius: 5px; }

.photograph__main__updating--latest {
  margin-inline-start: 1rem; }

.photograph__main__updating--button_form {
  background-color: #434CCC;
  padding-top: 13px;
  padding-bottom: 11px;
  padding-inline-start: 45.5px;
  padding-inline-end: 45.5px;
  color: #FFFFFF;
  font-weight: 11px;
  font-size: 19px;
  font-family: sans-Regular;
  font-weight: normal;
  border-radius: 5px;
  margin-block-start: 1rem; }

.photograph__main__seenlens {
  padding-block-end: calc(1rem * 3); }

.photograph__main__link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
  font-family: sans-Regular;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5rem; }

.photograph__main__seenlens--images {
  overflow: hidden; }

.photograph__main__back {
  margin-block-start: calc(1rem * 2);
  margin-inline-start: 1rem; }

.photograph__main__seenlens--title {
  color: #000000;
  font-family: dmserifdisplay-regular;
  font-size: 3rem;
  line-height: 4rem;
  font-weight: normal;
  margin-inline-start: 1rem; }

.photograph__main__seenlens--paragraph {
  font-family: sans-Regular;
  margin-inline-start: 1rem; }

.photograph__main__seenlens__images--lists {
  list-style: none;
  display: flex;
  padding-inline-start: 1rem; }

.photograph__main__seenlens__images--list {
  margin-inline-end: 0.25rem; }

.photograph__main__seenlens__wordsdetails--lists {
  list-style-type: none;
  columns: 2; }

span {
  color: rgba(0, 0, 0, 0.5);
  font-family: sans-Regular;
  font-size: 1rem;
  line-height: 1.5rem; }

.photograph__main__seenlens__wordsdetails--paragraph {
  color: #000000;
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: dmsans-bold; }

.photograph__main__mineral--header {
  font-weight: 35px;
  font-size: 43px;
  color: #000000;
  font-weight: normal;
  font-family: dmserifdisplay-regular; }

.photograph__main__mineral--placeinformation {
  color: #000000;
  font-size: 18px;
  line-height: 2rem;
  font-family: sans-Regular; }

.photograph__main__mineral--beautyinformation {
  font-family: sans-Regular;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  line-height: 24px; }

.photograph__main__mineral {
  margin-inline-start: 1rem; }

.photograph__main__seenlens__images--big {
  max-width: 100%; }

.photograph__main__seenlens--images_container {
  margin-inline-start: 1rem;
  margin-inline-end: 1rem; }

.photograph__main__images--small {
  max-width: 100%; }

.ripple {
  margin-inline-end: calc(137px / -2); }

.dune,
.arches,
.car,
.sunset,
.canyon {
  display: none; }

.photograph__main__mineral--lists {
  display: flex;
  margin-inline-start: 1rem;
  padding-inline-start: 0; }

.photograph__main__mineral--list {
  list-style: none;
  display: flex; }

.photograph__main__mineral--link {
  text-decoration: none;
  color: transparent; }

.facebook {
  background-image: url(../images/icone_facebook.svg);
  background-repeat: no-repeat; }

.twitter {
  background-image: url(../images/icone_twitter.svg);
  background-repeat: no-repeat; }

.histogram {
  background-image: url(../images/icone_histogram.svg);
  background-repeat: no-repeat; }
